{% extends 'base.html' %}
{% block title %}Calculate your TDEE{% endblock %}

{% block content %}
<div class="container my-4">
  <h1 class="text-center">Calculate TDEE</h1>

  <div class="clearfix mt-4 form-container bg-light p-4 rounded">
    <div class="row">
      <div class="col-md-6">
        <img src="https://tdeecalculator.net/assets/images/tdee-pie-chart.png" alt="TDEE Pie Chart" class="img-fluid">
      </div>
      <div class="col-md-6">
        <p>Your Total Daily Energy Expenditure (TDEE) is an estimation of how many calories you burn per day when exercise is taken into account. It is calculated by first figuring out your Basal Metabolic Rate (BMR), then multiplying that value by an activity multiplier.</p>
        <p>Since your BMR represents how many calories your body burns at rest, it is necessary to adjust the numbers upwards to account for the calories you burn during the day, even if you have a sedentary lifestyle. Our TDEE calculator uses reliable formulas to provide a meaningful and easy-to-read score.</p>
      </div>
    </div>
  </div>

  <form action="/calculate_tdee" method="post" class="form-container my-4">
    <div class="container my-4">
      <div class="form-group">
        <label for="weight">Weight (lbs):</label>
        <input type="number" name="weight" id="weight" class="form-control" required>
      </div>
      <div class="form-group">
        <label for="height">Height (inches):</label>
        <input type="number" name="height" id="height" class="form-control" required>
      </div>
      <div class="form-group">
        <label for="age">Age:</label>
        <input type="number" name="age" id="age" class="form-control" required>
      </div>
      <div class="form-group">
        <label for="gender">Gender:</label>
        <select name="gender" id="gender" class="form-control" required>
          <option value="male">Male</option>
          <option value="female">Female</option>
        </select>
      </div>
      <div class="form-group mb-4">
        <label for="activity_level">Activity Level:</label>
        <small class="form-text text-muted">Select the option that best describes your level of physical activity.</small>
        <select name="activity_level" id="activity_level" class="form-control" required>
          <option value="1.2">Sedentary (little to no exercise)</option>
          <option value="1.375">Lightly Active (light exercise/sports 1-3 days/week)</option>
          <option value="1.55">Moderately Active (moderate exercise/sports 3-5 days/week)</option>
          <option value="1.725">Very Active (hard exercise/sports 6-7 days/week)</option>
          <option value="1.9">Extra Active (very hard exercise/sports & physical job or 2x training)</option>
        </select>
      </div>
      <div class="form-group">
        <h3 class="text-center">Set Your Goal</h3>
        <p class="text-center">Each of the buttons below represents a different goal for your diet and physical activity.</p>
         <ol> 
          <li>Click the "Lose Weight" button if you aim to reduce your weight by lowering your calorie intake.</li> 
          <li> If you'd like to maintain your current weight, click the "Maintain Weight" button.</li> 
          <li> If you're trying to gain weight, possibly for muscle building or other reasons, click the "Gain Weight" button.</li>
         </ol>
      </div>
      <div class="form-group text-center">
        <button type="submit" name="goal" value="lose" class="btn btn-outline-secondary mb-3">Lose Weight</button>
        <button type="submit" name="goal" value="maintain" class="btn btn-outline-secondary mb-3">Maintain Weight</button>
        <button type="submit" name="goal" value="gain" class="btn btn-outline-secondary mb-3">Gain Weight</button>
      </div>
    </div>
  </form>
  {% if tdee_calories %}
  <div class="row featurette tdee-result bg-dark text-white p-4 mb-4 rounded">
    <div class="col-lg-8 offset-lg-2 text-center">
      <h2>Your Results:</h2>
      <p>Your goal is to: <strong>{{ tdee_goal }}</strong></p>
      <p>Your Total Daily Energy Expenditure (TDEE) is: <strong>{{ tdee_calories|int }}</strong> calories</p>
      <p>TDEE represents the total number of calories you burn in a day, taking into account your basal metabolic rate (BMR) and physical activity level. It provides an estimate of the calories needed to maintain your current weight.</p>
    </div>
  </div>
  {% endif %}
  <div class="form-group text-center my-4">
    <button onclick="goBack()" class="btn btn-outline-secondary mb-3 float-left">Previous Page</button>
    <a href="{{ url_for('homepage', user_id=session['user_id']) }}" class="btn btn-outline-secondary mb-3 float-right">Home</a>
  </div>
  
  
  
<script>
  function goBack() {
    window.history.back();
  }
</script>
{% endblock %}
