{% extends 'base.html' %}

{% block title %}Weight Chart{% endblock %}

{% block content %}
    <h1>Weight Chart</h1>
    
    <div id="chart-container">
        <canvas id="weight-chart"></canvas>
    </div>

    <!-- Include Chart.js library -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/moment@2.29.1/moment.min.js"></script>

    <!-- Include your custom chart.js file -->
    {#<script src="{{ url_for('static', filename='js/chart.js') }}"></script>#}
{% endblock %}
