{% extends 'base.html' %}

{% block title %}Recipe Ingredients{% endblock %}

{% block content %}
  <h1>Recipe Ingredients</h1>

  {% if recipe_ingredients %}
    <h2>Recipe ID: {{ recipe_ingredients.recipe_source_id }}</h2>
    <ul>
      {% for ingredient in recipe_ingredients.ingredients %}
        <li>
          <p>{{ ingredient.ingredient_name }} - {{ ingredient.ingredient_amount }} {{ ingredient.ingredient_unit }}</p>
        </li>
      {% endfor %}
    </ul>
  {% else %}
    <p>No ingredients found for this recipe.</p>
  {% endif %}
{% endblock %}
