{%extends 'base.html'%}
{%block title%}Request a Recipe{%endblock%}
{%block content%}
<h1>Recipes</h1>

  {% if recipes %}
    <ul>
      {% for recipe in recipes %}
        <li>
          <h2>{{ recipe.recipe_name }}</h2>
          <p>Calories: {{ recipe.calories }}</p>
          <img src="{{ recipe.recipe_image_url }}" alt="Recipe Image">
          <p>Recipe Source ID: {{ recipe.recipe_source_id }}</p>
          <p>Recipe Source URL: <a href="{{ recipe.recipe_source_url }}">{{ recipe.recipe_source_url }}</a></p>
        </li>
      {% endfor %}
    </ul>
  {% else %}
    <p>No recipes found.</p>
  {% endif %}
{%endblock%}