{% extends 'base.html' %}
{% block title %}Recipe Ingredients{% endblock %}

{% block content %}
  <div class="container">

    {% if recipe %}
      <div class="text-center">
        <h1>{{ recipe.recipe_name }}</h1>
        <div class="card mx-auto" style="width: 50%;">
          <img src="{{ recipe.recipe_image_url }}" class="card-img-top" alt="Image of {{ recipe.recipe_name }}" style="max-height: 200px; object-fit: contain;">
        </div>
      </div>
    {% else %}
      <div class="alert alert-warning" role="alert">
        We couldn't find the recipe you're looking for.
      </div>
    {% endif %}

    {% if ingredients %}
      <div class="container mt-5">
        <h2 class="text-center my-4">{{ recipe.recipe_name }} Recipe Ingredients</h2>
        <div class="row">
          {% for ingredient in ingredients %}
            <div class="col-md-4 my-2">
              <div class="card h-100 hoverable">
                <div class="card-body">
                  <h5 class="card-title text-center capitalize">{{ ingredient.ingredient_name | capitalize }}</h5>
                  <p class="card-text text-center">
                    <span class="ingredient-amount">{{ ingredient.ingredient_amount }}</span>
                    <span class="ingredient-unit capitalize">{{ ingredient.ingredient_unit | capitalize }}</span>
                  </p>
                </div>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
    {% else %}
      <div class="alert alert-warning mt-5" role="alert">
        We couldn't find any ingredients for this recipe.
      </div>
    {% endif %}

    {% if recipe_instructions %}
      <div class="container mt-5">
        <h2 class="text-center my-4">{{ recipe.recipe_name }} Recipe Instructions</h2>
        <ul>
          {% for instruction in recipe_instructions %}
            <p><strong>Step {{ instruction.number }}:</strong> {{ instruction.step }}</p>
          {% endfor %}
        </ul>
      </div>
    {% else %}
      <div class="alert alert-warning mt-5" role="alert">
        We couldn't find any instructions for this recipe.
      </div>
    {% endif %}
  </div>
{% endblock %}
