{% extends 'base.html' %}

{% block title %}Weight Notes{% endblock %}

{% block content %}
  <h1>Weight Notes</h1>  

  <form action="{{ url_for('weight_notes') }}" method="post">
    <input type="hidden" name="user_id" value="{{ user_id }}"> 
    
    <label for="workouts_done">Workouts Done:</label>
    <textarea name="workouts_done" id="workouts_done" cols="30" rows="5"></textarea>
    
    <label for="weight_value">Weight:</label>
    <input type="text" name="weight_value" id="weight_value">
    
    <label for="date">Date: </label>
    <input type="date" name="date" id="date">

    <button type="submit">Save</button>
  </form>

  <h2>Existing Weight Notes:</h2>
  <ul class="list-group">
    {% for note in weight_notes %}
      <li class="list-group-item">
        <a class="text-decoration-none" data-bs-toggle="collapse" href="#collapse{{ note.id }}" aria-expanded="false" aria-controls="collapse{{ note.id }}">
          <h4>{{ note.date.strftime('%A, %B %d, %Y') }}</h4>
        </a>
        <div class="collapse" id="collapse{{ note.id }}">
          <div class="card card-body">
            <p>Workouts: {{ note.workouts_done }}</p>
            <p>Weight: {{ note.weight_value }}</p>
          </div>
        </div>
      </li>
    {% endfor %}
  </ul>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
{%endblock%}  
